.bg {
    /* The image used */
    background-image: url("../img/fullbackground2.jpg");
     /* Add the blur effect */
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

         /* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }
.main {
  height: 100%;
  margin: auto;
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 50% ;
  transform: translate(-50%, -50%);
  z-index: 2;

}
.bd-callout-info{
    border-left-color: #5bc0de !important;
    border-left-width: .25rem !important;
}
.backButton{
    color: #fff;
    background-color: rgba(	91, 192, 222) !important;
    border-color: rgba(	91, 192, 222) !important;
}

.bg-own{
  background-color: rgba(	91, 192, 222) !important
}


.a-item-center {
  align-items: center;
}

#alert-error, #alert-warning, #alert-success{
  
  display: none;
  width: 100%;
}